/* reset browser defaults */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #fff;
  font-family: sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  height: 100%;
}

.container {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: 100px auto 100px;
  grid-template-areas:
    'H H H H H H H H H H H H'
    'M M C C C C C C C C C C'
    'M M C C C C C C C C C C'
    'M M C C C C C C C C C C'
    'M M C C C C C C C C C C'
    'M M C C C C C C C C C C'
    'M M C C C C C C C C C C'
    'M M C C C C C C C C C C'
    'M M C C C C C C C C C C'
    'M M C C C C C C C C C C'
    'F F F F F F F F F F F F'
    'F F F F F F F F F F F F';
  /* place-items: center; */
  background: goldenrod;
  border: 5px solid blueviolet;
}

.header {
  grid-area: H;
  background: lightseagreen;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}
.header > div:nth-child(6) {
  margin-left: auto;
}
.header > div:nth-child(even) {
  padding: 0 30px;
}

.menu {
  grid-area: M;
  background: lightcoral;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  grid-area: C;
  background: lightseagreen;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer {
  grid-area: F;
  background: lightsalmon;
  display: flex;
  justify-content: center;
  align-items: center;
}
