/* reset browser defaults */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

article {
  display: grid;
  grid-template-columns: 80px 1fr 80px;
  gap: 10px;
}

article > * {
  grid-column: 2;
  min-width: 0;
}

article > figure {
  grid-column: 1/-1;
  margin: 20px 0;
}

article > .aside {
  grid-column: 3;
  color: #666;
  font-size: 0.8em;
}

/* General Style */
html,
body {
  line-height: 1.4;
}
