/* reset browser defaults*/
* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

.container {
  /* Main container wrapper*/

  /* GRID properties*/
  display: grid;
  gap: 3px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 80px auto 40px;
  grid-template-areas:
    '. h h h h h h h h h h .'
    'm c c c c c c c c c c .'
    '. f f f f f f f f f f .';
  /* dot represents the empty cell. Also we also need to have a complete rectangle in place*/

  /* other properties */
  height: 100vh;
  color: #fff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  text-align: center;
  position: relative;
}

.header {
  /* GRID properties*/
  grid-area: h;
  /* other properties */
  background: lightseagreen;
}

.menu {
  /* GRID properties*/
  grid-area: m;
  /* other properties */
  background: lightcoral;
}

.content {
  /* GRID properties*/
  grid-area: c;
  /* other properties */
  background: lightseagreen;
  text-align: center;
}

.footer {
  /* GRID properties*/
  grid-area: f;
  /* other properties */
  background: orange;
}
