/* reset browser defaults */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  /* Main Parent Box*/

  /* GRID properties*/
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(2, 100px);

  /* Other CSS properties*/
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2rem;
  font-weight: 700;
  color: white;
  text-align: center;
}

.container > div:nth-child(odd) {
  /* GRID properties*/

  /* Other CSS properties*/
  background: lightseagreen;
}

.container > div:nth-child(even) {
  /* GRID properties*/

  /* Other CSS properties*/
  background: lightcoral;
}
